extends ../layout

block content
    include ../includes/header
    [#{title}]

    h1 Your Tasks
    - if(docs.length)
        tr
            th Task
                each task in docs
                    tr
                        td #{task.task}
    - else
        p You don't have any tasks!

    include ../includes/footer