extends ../layout

block content
    include ../includes/header
    [#{title}]

    h1 Your Tasks

    p
        a(href='/tasks/new', class='btn primary') Add a Task

    - if(docs.length)
        span number of records: #{docs.length}
        table
            tr
                th Task
                    each task in docs
                        tr
                            td #{task.task}
    - else
        p You don't have any tasks!

    include ../includes/footer